.page-main {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 100px;
}
.login-window {
  width: 750px;
  margin: 0 auto;
  margin-top: 40px;
}
.login-window__headline {
  font-size: 40px;
  font-weight: 200;
  padding-top: 25px;
  margin-bottom: 55px;
  text-transform: lowercase;
}
.login-window__headline:first-letter {
  text-transform: uppercase;
}
.user-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 330px;
  margin-right: 40px;
  list-style: none;
}
.user-form li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.user-form input {
  width: 300px;
  font-size: 20px;
  font-family: 'Montserrat';
  padding: 6px 0 4px 10px;
  border: none;
  outline: none;
}
.user-form__login,
.user-form__password {
  margin-bottom: 20px;
}
.user-form__login label,
.user-form__password label {
  margin-bottom: 5px;
}
.user-form__help {
  margin-bottom: 25px;
  font-size: 12px;
  /* Заменить теги на классы */
}
.user-form__help label {
  margin-right: 55px;
}
.user-form__help a {
  color: black;
}
.user-form__remember input {
  width: 15px;
}
.user-form__sign-in {
  margin-bottom: 35px;
  margin-top: 20px;
}
.user-form__sign-in input {
  width: 150px;
  padding: 10px 0 10px 2px;
  font-size: 17px;
  color: #7cbbf2;
  background-color: white;
  border: 2px solid #7cbbf2;
  border-radius: 20px 20px;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.bottom-line {
  border-bottom: 1px solid rgba(191, 191, 191, 0.9);
}
.login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.user-registration {
  width: 335px;
  margin-left: 35px;
  margin-top: 30px;
  font-size: 20px;
}
.user-registration__link p {
  width: 240px;
  padding: 8px 0 8px 0;
  margin-left: 30px;
  color: #7cbbf2;
}
.sideline {
  width: 1px;
  height: 240px;
  border-left: 1.1px solid grey;
}
.login-checkbox {
  position: relative;
  padding-left: 19px;
  cursor: pointer;
}
.login-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  border-radius: 4px 4px;
  background-color: #3899eb;
}
.login-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 1.5px;
  width: 11px;
  height: 2px;
  background-color: white;
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-widht: 100%;
  margin: 0 auto;
  font-size: 16px;
}
.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  width: 700px;
  margin-top: 21px;
}
.main-nav__list--login {
  font-size: 0;
}
.main-nav__link {
  color: black;
}
.main-nav__login {
  margin-top: 21px;
  margin-left: 55px;
  color: black;
}
.page-header {
  max-widht: 100%;
  height: 56px;
  -webkit-box-shadow: 0 1px 5px 0 rgba(41, 85, 115, 0.21);
          box-shadow: 0 1px 5px 0 rgba(41, 85, 115, 0.21);
  margin-bottom: 70px;
}
.min-filters__column {
  height: 500px;
  width: 200px;
  border: 1px solid black;
}
.main-content__slider {
  height: 300px;
  width: 800px;
  border: 1px solid black;
}
.main-content {
  margin-left: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-content__news {
  width: 800px;
  padding: 0;
  margin-top: 60px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-conten__box {
  margin-bottom: 30px;
  width: 390px;
  height: 250px;
  border: 1px solid black;
}
.slider {
  /* устанавливаем относительное позиционирование элементу */
  position: relative;
  display: inline-block;
}
.slider__items {
  /* устанавливаем относительное позиционирование элементу */
  position: relative;
  /* устанавливаем элементу ширину, равную 100% */
  width: 800px;
}
.slider__item {
  /* устанавливаем относительное позиционирование элементу */
  position: relative;
  /* отключаем по умолчанию отображение всех слайдов */
  display: none;
  /* устанавливаем элементу ширину, равную 100% */
  width: 800px;
  /* длительность анимации трансформации */
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
  /* не показывать обратную сторону трансформируемого элемента */
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.slider__item_active,
.slider__item_next,
.slider__item_prev {
  /* отображаем слайд, если он имеет один из этих классов */
  display: block;
}
.slider__item_next,
.slider__item_prev {
  /* устанавливаем абсолютное позиционирование для элемента, на который будет сменяться слайд (на время трансформации) */
  position: absolute;
  /* устанавливаем положение элемента, т.е. координату top */
  top: 0;
}
.slider__item_next.slider__item_left,
.slider__item_prev.slider__item_right {
  /* сдвигаем элемент на 0 по горизонтали */
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.slider__item_next,
.slider__item_right.slider__item_active {
  /* сдвигаем элемент на 100% по горизонтали */
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.slider__item_prev,
.slider__item_left.slider__item_active {
  /* сдвигаем элемент на -100% по горизонтали */
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
/* элементы управления (назад и вперёд) слайдером */
.slider__control {
  position: absolute;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: 0.5;
}
.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}
.slider__control_prev {
  left: 0;
}
.slider__control_next {
  right: 0;
}
.slider__control::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}
.slider__control_prev::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.slider__control_next::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
/* индикаторы слайдера */
.slider__indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}
.slider__indicator {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 6px;
}
.slider__indicator::before {
  position: absolute;
  top: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: "";
}
.slider__indicator::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: "";
}
.slider__indicator_active {
  background-color: #fff;
}
img {
  display: inline-block;
  height: auto;
  max-width: 100%;
}
body {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  color: black;
  font-family: 'Montserrat';
  padding: 0;
  margin: 0 auto;
  background-color: white;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_cJD3gTD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v23/TK3_WkUHHAIjg75cFRf3bXL8LICs169vsUtiYA.ttf) format('truetype');
}

/*# sourceMappingURL=style.css.map */
